div#energy-types
    | "MSN": {{energyTypes[index].MSN}}
    br
    | "YYYYMM": {{energyTypes[index].YYYYMM}}
    br
    | "Value": {{energyTypes[index].Value}}
    br
    | "Column_Order": {{energyTypes[index].Column_Order}}
    br
    | "Description": {{energyTypes[index].Description}}
    br
    | "Unit": {{energyTypes[index].Unit}}
