extends layout

block content
  nav.navbar-inverse.navbar-fixed-top
    .container
      navbar-header
        ul.nav.nav-pills
          li(ng-class="{ active: isActive('/home')}")
            a(ng-href='#/home') Home
          li(ng-class="{ active: isActive('/simple-format')}")
            a(ng-href='#/simple-format') Simple Format
          li(ng-class="{ active: isActive('/renewables-by-year')}")
            a(ng-href='#/renewables-by-year') renewable by year
          li(ng-class="{ active: isActive('/renewables-page')}")
            a(ng-href='#/renewables-page') renewables page
          li(ng-class="{ active: isActive('/about')}")
            a(ng-href='#/about') About
          li(ng-class="{ active: isActive('/energy-types')}")
            a(ng-href='#/energy-types') Energy Types
  .container
    h1= title
    p Welcome to #{title}
  
    div(data-ng-view="")        
  